window {
  margin: 0px;
  border: 1px solid #928374;
  background-color: #282828;
}

#input {
  margin: 5px;
  border: none;
  color: #ebdbb2;
  background-color: #1d2021;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#img {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  margin-right: 8px;
}

#entry:selected {
  background-color: #1d2021;
}
